a {
  width: 25%;
  display: block;
  float: left;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

h4 {
  text-align: center;
}

.leafletMap {
  width: 100%;
  height: 600px;
  margin-top: 25px;
}
